#TOKENS
ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=(YOUR SECRET)
ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=(YOUR SECRET)

#APPS
APP__DEBUG=True
APP__HOST=0.0.0.0
APP__PORT=8000
APP__RELOAD=True

#CORS
CORS__ALLOW_CREDENTIALS=True
CORS__ALLOW_ORIGINS=["*"]
CORS__ALLOW_METHODS=["*"]
CORS__ALLOW_HEADERS=["*"]